@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="title">Salvador Nicolas</h1>
        <div class="row">
            <div class="col-md-4 col-lg-2">
                <img class="shadow-md" src="/static/dist/img/pages/about/yo.jpg" alt="Salvador Nicolas">
            </div>

            <div class="col-md-8 col-lg-10">
                <p class="lead">
                    <div>
                        Apasionado por las tecnologías, en especial por el desarrollo de
                        aplicaciones Web.<br>
                        Desarrollo soluciones Web como <strong>Freelance</strong> para la pequeña y mediana
                        empresa.
                    </div>
                    <div class="mt-2">
                        <i class="fab fa-github-square"></i> <a href="https://github.com/snicoper">GitHub</a><br>
                        <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/salvador-nicolas-pereiro/">Linkedin</a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Hola, soy Salvador Nicolas y vivo en la provincia de Barcelona, soy autodidacta y actualmente
                desarrollo aplicaciones Web en <strong>.NET MVC5/Core 2</strong> y <strong>Python/Django</strong>
                en el Backend y <strong>Javascript</strong>, <strong>JQuery</strong>, <strong>Vue.js</strong>
                en el Frontend.
            </p>

            <p>
                Actualmente trabajando en <a href="http://www.phibo.com/">Phibo Dental Solutions</a>.
                desde principios de 2017
            </p>
            <p>
                Estoy como programador en un equipo de 3 personas para la realización desde 0 de un portal
                para la gestión de las reclamaciones de los clientes y un sistema de fichajes para los
                trabajadores de <strong>Phibo Dental Solutions</strong>.<br>
            </p>
            <p>
                <ul>
                    <li>
                        <code>Backend</code> La solución se usan las siguientes tecnologías
                        <strong>ASP.NET MVC 5</strong>, <strong>Entity Framework 6 Code First</strong> e
                        <strong>Identity Framework</strong>.
                    </li>
                    <li>
                        <code>Frontend</code> Usado <strong>Bootstrap 3</strong>, <strong>JQuery</strong>
                        y <strong>Vue.js</strong> entre otros.
                    </li>
                </ul>
            </p>

            <div>
                <h5 class="mt-4">Estos son algunas de las tecnologías que toco.</h5>
                <hr>
                <ul>
                    <li>Python/Django, Django channels, Django Rest Framework (DRF), Unit Test, entre otras.</li>
                    <li><del>PHP</del></li>
                    <li>C# ASP.NET MVC 5 y Core 2</li>
                    <li>PostgreSQL, MySQL, SQLite, MS SQL Server</li>
                    <li>Javascript, ES6 con Gulp/Webpack, Jquery, Vue.js</li>
                    <li>CSS/SCSS</li>
                    <li>HTML5, SEO</li>
                    <li>Gnu/Linux con Fedora para el escritorio, Centos para el servidor</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5 class="mt-4">Contacto</h5>
            <hr>
            <div>
                <i class="fas fa-envelope"></i>
                <a asp-controller="Contact" asp-action="Create" target="_blank">
                    Formulario de contacto desde la Web
                </a>
            </div>
            <div>
                <i class="fas fa-envelope"></i>
                <a href="mailto:snicoper@snicoper.com">snicoper@snicoper.com</a>
            </div>
            <div>
                <i class="fas fa-phone-square"></i> 645 74 13 22
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5 class="mt-4">Estos son algunos de los proyectos que he realizado</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4 text-center">
            <img class="img-fluid" src="/static/dist/img/pages/about/site_new_snicopercom.png" alt="Sitio nuevo snicoper.com">
        </div>

        <div class="col-md-8">
            <h5>
                <a href="https://snicoper.com">snicoper.com</a>
            </h5>
            <div>
                Blog personal, desarrollado con <strong>ASPNET Core 2</strong>,
                <strong>Bootstrap4</strong>, <strong>Vue.js</strong>, <strong>SCSS</strong>.<br>
                Se puede encontrar el código en mi
                <a href="https://github.com/snicoper/BloNet.com" target="_blank">GitHub</a><br>

                Es el sitio en el que te encuentras.
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4 mb-4 text-center">
            <img class="img-fluid" src="/static/dist/img/pages/about/site_snicopercom.jpeg" alt="Sitio snicoper.com">
        </div>

        <div class="col-md-8">
            <h5>
                snicoper.com
            </h5>
            <div>
                Antiguo blog personal, desarrollado con <strong>Python/Django</strong>,
                <strong>Bootstrap4</strong>, <strong>Vue.js</strong>, <strong>SCSS</strong>.<br>
                Se puede encontrar el código en mi
                <a href="https://github.com/snicoper/snicoper.com" target="_blank">GitHub</a><br>
            </div>
        </div>
    </div>

    <hr>

    <div class="row mt-4">
        <div class="col-md-4 mb-4 text-center">
            <img class="img-fluid" src="/static/dist/img/pages/about/site_ofervivienda.jpeg" alt="Sitio ofervivienda.com">
        </div>
        <div class="col-md-8">
            <h5>
                <a href="https://ofervivienda.com">OferVivienda</a>
            </h5>
            <div>
                Anuncios de compra/venta de inmuebles, geolocalización con <strong>Google Maps</strong>.<br>

                <h6 class="mt-3">Características</h6>
                <ul>
                    <li>Creación de nuevos anuncios</li>
                    <li>Búsqueda de anuncios por filtros</li>
                    <li>Búsqueda de anuncios interactivo con Google Maps</li>
                    <li>Alertas en anuncios, previamente marcados en zona con polígonos por el usuario en Google Maps</li>
                    <li>Posibilidad de cuenta/anuncio premium para el posicionamiento en las búsquedas</li>
                    <li>Pasarela de pago con PayPal</li>
                    <li>Mensajes privados entre el vendedor y el comprador de forma anónima</li>
                    <li>Añadir anuncios a favoritos</li>
                    <li>Alertas cuando un anuncios de favoritos baja el precio</li>
                </ul>

                <h6>Tecnologías usadas</h6>
                <ul>
                    <li>Python/Django</li>
                    <li>Javascript, Jquery, API Google Maps</li>
                    <li>SCSS</li>
                    <li>Gulp</li>
                </ul>

                <div class="mt-3">
                    El código se encuentra en mi
                    <a href="https://github.com/snicoper/ofervivienda" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row mt-4">
        <div class="col-md-4 mb-4 text-center">
            <img class="img-fluid" src="/static/dist/img/pages/about/site_resourceslibres.jpeg" alt="Sitio resourceslibres.com">
        </div>
        <div class="col-md-8">
            <h5>
                <a href="https://resourceslibres.com">ResourcesLibres</a>
            </h5>
            <div>
                Recursos gratuitos compartidos entre usuarios. Pensado para tecnologías de desarrollo
                diseño, fotografiá y video.

                <h6 class="mt-3">Tecnologías usadas</h6>
                <ul>
                    <li>Python/Django</li>
                    <li>Javascript, Jquery</li>
                    <li>SCSS</li>
                    <li>Gulp</li>
                </ul>

                <div class="mt-3">
                    El código se encuentra en mi
                    <a href="https://github.com/snicoper/resourceslibres" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>
