@model Web.ViewModels.AccountAdminViewModels.ListViewModel

@{
    ViewData["Title"] = "Lista de usuarios";
}


@await Component.InvokeAsync("NavbarAdmin")

<div id="account-admin-index-vue" class="container-fluid" v-cloak>
    <div class="row">
        <div class="col-12">
            <h1 class="title">@ViewData["Title"]</h1>

            @await Html.PartialAsync("Grid/_GridHeader")

            <!-- Filtros de búsqueda -->
            <div class="row">
                <div class="col-12">
                    <div id="collapseFilters" class="collapse">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 mb-2">
                                <input asp-for="UserName"
                                       class="form-control form-control-sm"
                                       v-model="userName"
                                       placeholder="Nombre de usuario">
                            </div>
                            <div class="col-md-6 col-lg-3 mb-2">
                                <input asp-for="Email"
                                       class="form-control form-control-sm"
                                       v-model="email"
                                       placeholder="Email">
                            </div>
                            <div class="col-md-6 col-lg-3 mb-2">
                                <input asp-for="PhoneNumber"
                                       class="form-control form-control-sm"
                                       v-model="phoneNumber"
                                       placeholder="Numero de teléfono">
                            </div>
                            <div class="col-md-6 col-lg-3 mb-2 input-group">
                                <input asp-for="CreateAt"
                                       v-model="createAt"
                                       id="datetimepickerCreateAt"
                                       class="form-control form-control-sm"
                                       placeholder="Fecha registro"
                                       data-toggle="datetimepicker"
                                       data-target="#datetimepickerCreateAt">
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-6 col-lg-3 mb-2 input-group">
                                <input asp-for="LastLogin"
                                       v-model="lastLogin"
                                       id="datetimepickerLastLogin"
                                       class="form-control form-control-sm"
                                       placeholder="Ultimo acceso"
                                       data-toggle="datetimepicker"
                                       data-target="#datetimepickerLastLogin">
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-6 col-lg-3 mb-2">
                                <select asp-for="EmailConfirmed"
                                        asp-items="@Model.EmailConfirmedChoices"
                                        v-model="emailConfirmed"
                                        class="custom-select custom-select-sm">
                                </select>
                            </div>
                            <div class="col-md-6 col-lg-3 mb-2">
                                <select asp-for="Active"
                                        asp-items="@Model.ActiveChoices"
                                        v-model="active"
                                        class="custom-select custom-select-sm">
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12">
                                <button @@click="onFilterReset" class="btn btn-sm btn-outline-info btn-unfocus">
                                    <i class="fas fa-sync"></i> Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end Filtros de búsqueda -->

            <!-- Tabla con datos -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-responsive-lg">
                        <thead class="box box-dark">
                        <tr>
                            <th is="grid-column" :field="'userName'" field-name="Usuario"></th>
                            <th is="grid-column" :field="'email'" field-name="Email"></th>
                            <th is="grid-column" :field="'phoneNumber'" field-name="Teléfono"></th>
                            <th is="grid-column" :field="'createAt'" field-name="Fecha de registro"></th>
                            <th is="grid-column" :field="'lastLogin'" field-name="Ultimo acceso"></th>
                            <th is="grid-column"
                                :field="'emailConfirmed'"
                                field-name="Email confirmado"
                                :tooltip-helper="'¿Email principal confirmado?'">
                            <th is="grid-column" :field="'active'" field-name="Cuanta activa"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-show="loading">
                            <td class="text-center" colspan="7">
                                <img class="img-loading" src="~/static/dist/img/loading.gif" alt="loading">
                                <small class="text-info">Cargando...</small>
                            </td>
                        </tr>
                        <tr v-show="isEmptyAndNotLoading">
                            <td class="text-center" colspan="7">
                                <h5>No hay usuario para mostrar</h5>
                            </td>
                        </tr>
                        <tr v-for="user in getObjectList">
                            <td>
                                <a :href="createLinkToUserDetails(user.id)">{{ user.userName }}</a>
                            </td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            <td>{{ user.createAt }}</td>
                            <td>{{ user.lastLogin }}</td>
                            <td class="text-center">
                                <span v-if="user.emailConfirmed">
                                    <i class="far fa-check-circle text-success"></i>
                                </span>
                                <span v-else>
                                    <i class="fas fa-ban text-danger"></i>
                                </span>
                            </td>
                            <td class="text-right">
                                <span v-if="user.active">
                                    <i class="far fa-check-circle text-success"></i>
                                </span>
                                <span v-else>
                                    <i class="fas fa-ban text-danger"></i>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- end Tabla con datos -->

            @await Html.PartialAsync("Grid/_GridPaginate")

            <div class="row">
                <div class="col-12">
                    <hr>
                    <a asp-action="Create" class="btn btn-primary">
                        <i class="fas fa-user-plus"></i> Crear usuario
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        AccountAdminIndexVue()
    </script>
}
