@{
    ViewData["Title"] = "Se ha producido un error";
}

<div class="container">
    <div class="row mt-4">
        <div class="col-12 text-center">
            <img class="img-fluid" src="~/static/dist/img/logo.png" alt="logo">
        </div>
        <div class="col-lg-8 m-auto mt-4">
            <div class="alert alert-info alert-icon">
                Se ha producido un error y se ha notificado al administrador.<br>
                Por favor si el problema continua, póngase en contacto con la administración
            </div>
        </div>
    </div>
</div>
