@model Web.ViewModels.AccountViewModels.RecoveryPasswordViewModel

@{
    ViewData["Title"] = "Recuperar contraseña";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-8 m-auto shadow-sm">
                    <form asp-action="RecoveryPassword" method="post">
                        <h1>@ViewData["Title"]</h1><hr>

                        <div class="alert alert-info">
                            Inserta tu email y recibirás por correo instrucciones para cambiar la contraseña
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" placeholder="Correo electrónico...">
                            <span asp-validation-for="Email" class="small text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <button class="btn btn-primary" type="submit">Recuperar contraseña</button>
                            <a asp-action="Login" class="btn btn-primary">Identificarse</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
