@{
    ViewData["Title"] = "Confirmación de email enviada";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title">@ViewData["Title"]</h1>

            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="alert alert-info alert-icon">
                        <span>
                            Se ha enviado un email para poderlo validar, por favor acceda a su correo
                            y siga las instrucciones.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
